.slick-complete{
    position: relative;

    .slick-complete-prediction{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        color: fade(black,80%);
    }

    .slick-complete-input{
        position: relative;
        background: none;
        border: 2px solid transparent;
        z-index: 2;
        color: black;
    }
}